
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
              <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" style="font-size: 30px; margin-left: -400px; ;border-color: rgba(256, 256, 256, .3) !important;">Welcome To Medinova</h5>
              <h1 style="font-size: 100px; margin-left: -400px; margin-top: 50px;" class="display-1 text-white mb-md-4">Best Healthcare Solution <br> <br> <br> In Your City</h1>
              
                <section class="vh-100">
                  <div class="container-fluid h-custom">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="col-md-9 col-lg-6 col-xl-5">
                        
                      </div>
                      <div *ngIf="message" class="alert alert-info">
                        {{ message }}
                      </div>
                      
                  </div>
                  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary full-width-container">
                    <div class="text-white mb-3 mb-md-0">
                      Copyright © 2020. All rights reserved.
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-linkedin-in"></i>
                      </button>
                    </div>
                  </div>
                  </div>
                </section>
            </div>
        </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  