
<img style="margin-left: 1400px; margin-top: 100px; height: 300px; width: 300px;" src="assets/img/img2.png">
<img style="margin-top: -400px;margin-left: 20px; height: 500px; width: 500px;" src="assets/img/img7.svg">

<div style="margin-top: -400px" class="forgot-password-container">
  <div *ngIf="!resetTokenSent">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="onSubmitForgotPassword()" class="form-container">
      <label>Email:</label>
      <input type="email" [(ngModel)]="registerRequest.email" name="email" required>
      <button type="submit" class="btn-reset">Send Reset Token</button>
    </form>
  </div>

  <div *ngIf="resetTokenSent && !resetSuccess" class="reset-password-container">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onSubmitResetPassword()" class="form-container">
      <label>Token:</label>
      <input type="text" [(ngModel)]="token" name="token" required>
      <label>New Password:</label>
      <input type="password" [(ngModel)]="newPassword" name="newPassword" required>
      <button type="submit" class="btn-reset">Reset Password</button>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </div>

  <div *ngIf="resetSuccess" class="success-message">
    <h2>Password Reset Successfully!</h2>
    <p>You can now <a routerLink="/login">login</a> with your new password.</p>
  </div>
</div>
<div>

<img style="margin-left: 1000px; margin-top: 00px;" src="assets/img/img3.png">
<img style="margin-left: 400px; margin-top: -300px;height: 300px; width: 300px;" src="assets/img/img6.png">

</div>

