
  .forgot-password-container,
  .reset-password-container,
  .success-message {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #cce7ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.1);
    background-color: #f0f8ff;
  }

  h2 {
    color: #003366;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #00509e;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cce7ff;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }

  .btn-reset {
    width: 100%;
    padding: 10px;
    background-color: #00509e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn-reset:hover {
    background-color: #003366;
  }

  .error-message {
    color: red;
    text-align: center;
  }

  .success-message p {
    text-align: center;
  }

  .success-message a {
    color: #00509e;
    text-decoration: none;
  }

  .success-message a:hover {
    text-decoration: underline;
  }
